---
layout: default
---

<div class="row headline">
  <div class="col-md-12">
    <h2>A Nice looking headline</h2>
  </div>
</div> <!-- // .headline -->

<div class="row main-panel">
  {% for post in site.categories.slide limit:1 %}
  <div class="col-md-6">
        <iframe width="420" height="315" src="{{ post.video}}" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
        <h3>{{ post.title }}</h3>
        <p>
          {{ post.content }}
        </p>
  </div>
  {% endfor %}
</div> <!-- // .main-panel -->

<div class="row second-panel">
  <div class="col-md-6">
    <h3> Temoignages</h3>
      {% for post in site.tags.testimony  limit:1 %}
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            <img src="{{ post.img.url }}" alt="{{ post.img.alt }}"/>
            <p>{{ post.content }}</p>
      {% endfor %}    
  </div>
  <div class="col-md-6">
      <h3> Plus </h3>
      {% for post in site.tags.more limit:1 %}
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            <img src="{{ post.img.url }}" alt="{{ post.img.alt }}"/>
            <p>{{ post.content }}</p>
      {% endfor %}    

  </div>
  
</div> <!-- // .second-panel -->  